.my_table_form {
    width: 100%;
    line-height: 40px;
}

.my_table_form tr {
    margin-top: 10px;
}

.my_table_form .label {
    text-align: right;
    font-size: 14px;
}

.inputArea input {
    min-width: 200px;
    min-height: 20px;
    border-radius: 5px 5px 5px 5px;
    /*关键属性设置 需要把路径设置好*/
    behavior: url(./PIE.htc);
}

.inputArea select {
    min-width: 200px;
    min-height: 20px;
    border-radius: 5px 5px 5px 5px;
    /*关键属性设置 需要把路径设置好*/
    behavior: url(./PIE.htc);
}

.width-full {
    width: 99%;
}

/*head*/
.main-header {
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-bottom: 1px #95b8e7 solid;
    /*background: url(../images/bg_header.jpg) bottom repeat-x;*/
}

.main-header-left {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 0;
}

.main-header-left h1 {
    font: 20px/20px Verdana;
    color: black;
}

.main-header-right {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 0;
    color: black;
    text-align: right;
}

.main-header-right p {
    line-height: 0.7em;
}

.main-header-right a {
    color: black;
}