.my_table_form {
    width: 100%;
    line-height: 40px;
}
.my_table_form  tr {
    margin-top: 10px;
}

.my_table_form .label {
    text-align: right;
    font-size: 14px;
}

.inputArea input {
    min-width: 200px;
    min-height: 20px;
    border-radius: 5px 5px 5px 5px;
    /*关键属性设置 需要把路径设置好*/
    behavior: url(./PIE.htc);
}

.inputArea select {
    min-width: 200px;
    min-height: 20px;
    border-radius: 5px 5px 5px 5px;
    /*关键属性设置 需要把路径设置好*/
    behavior: url(./PIE.htc);
}

.width-full{
    width: 90%;
}